<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
        http://www.springframework.org/schema/aop
     	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	
        	
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!-- 配置数据源vegodba1 @@vego.com@@VEGO.COM-->
    <bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url" value="${jdbcUrl}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
        <property name="initialSize" value="${initialPoolSize}"/>
        <property name="maxActive" value="20"/>
        <property name="minIdle" value="1"/>
        <property name="maxWait" value="60000"/>
        <property name="validationQuery" value="${preferredTestQuery}"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <property name="minEvictableIdleTimeMillis" value="25200000"/>
        <property name="removeAbandoned" value="true"/>
        <property name="removeAbandonedTimeout" value="1800"/>
        <property name="logAbandoned" value="true"/>
        <property name="filters" value="mergeStat"/>
    </bean>	

   <!-- mis SessionFactory文件 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>
  <!--   <mvc:interceptors>
		<bean class="com.gochinatv.accelarator.bmapi.interceptor.CheckLoginInterceptor" />
	</mvc:interceptors> -->
	<mvc:annotation-driven />
	<aop:aspectj-autoproxy />
	<context:component-scan base-package="com.gochinatv.accelarator.bmapi.*" />
	
	<mvc:resources mapping="/api-doc/**" location="/api-doc/" />
		
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	  <!--支持多视图-->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="order" value="1"/>
        <property name="favorPathExtension" value="true"/>
        <property name="mediaTypes">
            <map>
                <entry key="json" value="application/json"/>
                <entry key="jsonp" value="application/javascript"/>
                <!-- <entry key="xml" value="application/xml" /> -->
            </map>
        </property>
        <!-- 设置为true以忽略对Accept Header的支持-->
       <property name="defaultContentType" value="application/json"></property>
        <property name="defaultViews">
           			<list>
				<bean class="com.gochinatv.accelarator.bmapi.util.CustomMappingJacksonJsonView">
					<property name="disableCaching" value="false" />
				</bean>
				<bean class="com.gochinatv.accelarator.bmapi.util.CustomMappingJacksonJsonpView" />
			</list>
        </property>
    </bean>
    
	<!--MapperScanner-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.gochinatv.accelarator.bmapi.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>	
	
    
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="6000000000" />
	</bean>
	<!--swagger-->
	<bean class="com.gochinatv.accelarator.bmapi.util.SwaggerConfig"/> 
</beans>
