<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value></param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>accelarator-admin</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>accelarator-admin</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

<!-- 
	<filter>
		<filter-name>ssoFilter</filter-name>
		<filter-class>
			com.channelsoft.usportal.sso.filter.SsoFilter
		</filter-class>
		<init-param>
			<param-name>USPortalLoginIndex</param-name>
			<param-value>http://210.14.151.100:8090/USPortal</param-value>
		</init-param>
		<init-param>
			<param-name>ssoServerUrl</param-name>
			<param-value>http://210.14.151.100:8090/USPortal/sso</param-value>
		</init-param>
		<init-param>
			<param-name>localPlatformId</param-name>
			<param-value>bossext</param-value>
		</init-param>
		<init-param>
			<param-name>ignorePrivilegeUrl</param-name>
			<param-value>/upload/uploadflash.json,/ligang/timer.json,/ligang/timer/sms.json,/web/alipay/refund_fastpay.jsp,/web/alipay/refund_notify_url.jsp,/sso/login,/sso/platformSwitch,/sso/logout,/platformConfig/SynchronousData,/login,/order/billingOrders,/order/maintainOrder,/sp/spLogin,/monitor/active</param-value>
		</init-param>
				
	</filter>
	<filter-mapping>
		<filter-name>ssoFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>
	
</web-app>