<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gochinatv.accelarator.api.dao.DeviceDao">

	<resultMap type="com.gochinatv.accelarator.api.bean.Device" id="Device">
		<id property="id" column="id" />
		<result property="mac" column="mac" />
		<result property="imageUrl" column="image_url" />
		<result property="placeId" column="place_id" />
		<result property="cityCode" column="city_code" />
		<result property="screenNum" column="screen_num" />
		<result property="createTime" column="create_time" />
		<result property="screenShotInterval" column="screenShotInterval" />
		<result property="type" column="type" />
		<result property="refreshTime" column="refresh_time" />
		<result property="name" column="name" />
		<result property="code" column="code" />
	</resultMap>
	
	<resultMap type="com.gochinatv.accelarator.api.bean.UploadLog" id="UploadLog">
		<id property="id" column="id" />
		<result property="mac" column="mac" />
		<result property="msg" column="msg" />
	</resultMap>
	
	
	<insert id="saveDeviceImage" parameterType="com.gochinatv.accelarator.api.bean.Device" keyProperty="id" useGeneratedKeys="true">
	   insert into device_image(mac,name,image_url) values ( #{mac},#{name}, #{imageUrl})
	</insert>
	
	
	<insert id="uploadLog" parameterType="com.gochinatv.accelarator.api.bean.UploadLog" keyProperty="id" useGeneratedKeys="true">
	   insert into device_log(mac,msg) values ( #{mac},#{msg})
	</insert>
	
	
		
	<select id="queryDeviceByMac" resultMap="Device" >
		select d.id,d.place_id,d.city_code,d.screen_num,d.screenShotInterval*60*1000 as screenShotInterval,p.type as type,d.refresh_time*1000 as refresh_time,d.code as code,d.mac as mac
		
		from device d,place p
		
		where d.place_id=p.id and d.mac=#{mac} 
	</select>
	
<!-- 	<select id="queryTimeChangeByAreaCode" resultMap="java.lang.String" >
		select time_change from area where area_code=#{areaCode}
	</select>
	
	 -->
	
	
	
	
	
	<resultMap type="com.gochinatv.accelarator.api.bean.ImageAdInfo" id="ImageAdInfo">
		<id property="adImgId" column="id" />
		<result property="adImgIndex" column="sort" />
		<result property="adImgUrl" column="image_path" />
		<result property="adImgName" column="name" />
		<result property="adImgPrice" column="price" />
		<result property="adImagEName" column="ename" />
		<result property="deviceId" column="device_id" />
		<result property="businessId" column="business_id" />
		<result property="placeId" column="place_id" />
	</resultMap>
	
	
	<select id="queryImageAdInfoList" resultMap="ImageAdInfo" >
		select id,sort,image_path,name,price,ename,device_id,business_id,place_id from system_advertisement where device_id=#{deviceId}
	</select>
	
	
	
	<resultMap type="com.gochinatv.accelarator.api.bean.AdInfo" id="AdInfo">
		<id property="adVideoId" column="adVideoId" />
		<result property="adVideoName" column="adVideoName" />
		<result property="adVideoIndex" column="adVideoIndex" />
		<result property="adVideoUrl" column="adVideoUrl" />
	</resultMap>
	
	
	<select id="getAdInfoByDeviceId" resultMap="AdInfo" >
		select pl.advertisement_id as adVideoId,pl.sort as adVideoIndex,ad.title as adVideoName, concat('http://video.ottcloud.tv',ad.video_path) as adVideoUrl
			from play_list p,play_list_detail pl,advertisement ad
			where  p.id=pl.play_list_id and pl.advertisement_id=ad.id
		   		 and p.device_id=#{deviceId} and p.type=#{type}  and p.start_time=#{time}  order by pl.sort asc
	</select>
	
	<select id="getAdInfoByPlaceId" resultMap="AdInfo" >
			select pl.advertisement_id as adVideoId,pl.sort as adVideoIndex,ad.title as adVideoName, concat('http://video.ottcloud.tv',ad.video_path) as adVideoUrl
			from play_list p,play_list_detail pl,advertisement ad
			where  p.id=pl.play_list_id and pl.advertisement_id=ad.id
		   		 and p.place_id=#{placeId} and p.type=#{type}   and p.start_time=#{time}  order by pl.sort asc
	</select>
	
	<select id="getAdInfoByCityCode" resultMap="AdInfo" >
		select pl.advertisement_id as adVideoId,pl.sort as adVideoIndex,ad.title as adVideoName, concat('http://video.ottcloud.tv',ad.video_path) as adVideoUrl
			from play_list p,play_list_detail pl,advertisement ad
			where  p.id=pl.play_list_id and pl.advertisement_id=ad.id
		   		 and p.city_code=#{cityCode} and p.type=#{type}   and p.start_time=#{time} order by pl.sort asc
	</select>
	
	
	<resultMap type="com.gochinatv.accelarator.api.bean.TextAdInfo" id="TextAdInfo">
		<id property="adTextId" column="adTextId" />
		<result property="adTextIndex" column="adTextIndex" />
		<result property="adTextStr" column="adTextStr" />
		<result property="adTextInterval" column="adTextInterval" />
	</resultMap>
	<resultMap type="com.gochinatv.accelarator.api.bean.TwoAdInfo" id="TwoAdInfo">
		<id property="adImageId" column="adImageId" />
		<result property="adImageIndex" column="adImageIndex" />
		<result property="adImageTitle" column="adImageTitle" />
		<result property="adImageUrl" column="adImageUrl" />
		<result property="adImageInterval" column="adImageInterval" />
	</resultMap>
	
	<select id="getTextAdInfoByCityCode" resultMap="TextAdInfo" >
		select tfc.id as adTextId,tfc.sort as adTextIndex,tfc.content as adTextStr,tfc.play_time*1000 as adTextInterval 
		   from two_four_bm tfb,two_four_content tfc,two_four_bm_area tfba
		      where tfb.id=tfc.two_four_bm_id and tfb.id=tfba.two_four_bm_id and
		        tfb.type=2 and tfb.status=1 and tfc.status=1 and  tfba.city_code=#{cityCode}
		         and tfb.start_time &lt;= #{time} and tfb.end_time &gt;=#{time}
		        order by tfc.sort desc
	</select>
	
	<select id="getTwoAdInfoByCityCode" resultMap="TwoAdInfo" >
		select tfc.id as adImageId,tfc.sort as adImageIndex,tfc.name as adImageUrl,tfc.play_time*1000 as adImageInterval,tfc.content as  adImageTitle
		   from two_four_bm tfb,two_four_content tfc,two_four_bm_area tfba
		      where tfb.id=tfc.two_four_bm_id and tfb.id=tfba.two_four_bm_id and
		        tfb.type=1  and tfb.status=1 and tfc.status=1  and  tfba.city_code=#{cityCode}
		         and tfb.start_time &lt;= #{time} and tfb.end_time &gt;=#{time}
		        order by tfc.sort desc
	</select>
	
</mapper>