<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gochinatv.accelarator.api.dao.DeviceDao">


	<resultMap type="com.gochinatv.accelarator.api.bean.Device" id="Device">
		<id property="id" column="id" />
		<result property="mac" column="mac" />
		<result property="imageUrl" column="image_url" />
		<result property="placeId" column="place_id" />
		<result property="cityCode" column="city_code" />
		<result property="screenNum" column="screen_num" />
		<result property="createTime" column="create_time" />
		<result property="screenShotInterval" column="screenShotInterval" />
		<result property="type" column="type" />
		<result property="refreshTime" column="refresh_time" />
		<result property="name" column="name" />
		<result property="duration" column="duration" />
		<result property="versionNum" column="version_num" />
		<result property="versionName" column="version_name" />
		<result property="bootTime" column="boot_time" />
	</resultMap>
	
	<resultMap type="com.gochinatv.accelarator.api.bean.UploadLog" id="UploadLog">
		<id property="id" column="id" />
		<result property="mac" column="mac" />
		<result property="msg" column="msg" />
		<result property="type" column="type" />
	</resultMap>
	
	<insert id="saveDeviceImage" parameterType="com.gochinatv.accelarator.api.bean.Device" keyProperty="id" useGeneratedKeys="true">
	   insert into device_image(mac,name,duration,image_url) values ( #{mac},#{name},#{duration}, #{imageUrl})
	</insert>
	
	
	<insert id="uploadLog" parameterType="com.gochinatv.accelarator.api.bean.UploadLog" keyProperty="id" useGeneratedKeys="true">
	   insert into device_log(mac,type,msg) values ( #{mac},#{type},#{msg})
	</insert>
	
	<select id="getEntityByMac" resultMap="Device" parameterType="string">
		select * from device
		where mac = #{mac}
	</select>
	<insert id="save" parameterType="com.gochinatv.accelarator.api.bean.Device">
	   insert into device(
	            mac,
	            version_num,
	            version_name,
	            boot_time,
	            create_time
	            ) values (
	            #{mac},
	            #{versionNum},
	            #{versionName},
	            #{bootTime},
	            #{createTime}
	            )
	</insert>
	
	<update id="update" parameterType="com.gochinatv.accelarator.api.bean.Device">
		update device
		<set>
			<if test="versionNum!=null">
				version_num=#{versionNum},
			</if>
			<if test="versionName!=null">
				version_name=#{versionName},
			</if>
			<if test="bootTime!=null">
				boot_time=#{bootTime},
			</if>
		</set>
		where mac = #{mac}
	</update>
</mapper>